/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 81.5%;
  margin: 0 auto;
}

/*header css start here*/
.faq-item::before, .loan-link, .about-btn, .form-ctrl input, .banner-link, .btn-apply, .btn-link, .nav-link, .bar {
  transition: all 0.3s ease-in-out;
}

.content-wrap figure .qoute::before, .content-wrap, .FAQ .wrapper, .sub-heading::before, .work-list, .about-us .wrapper, .loan-list, .offer-list, .banner .wrapper, .apply-btn, .nav-list, header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-wrap figure .qoute::before, .content-wrap, .sub-heading::before, .banner .wrapper, .apply-btn, header .wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  align-items: center;
}

.content-wrap figure, .faq-item, .sub-heading, .about-item, .loan-item, .item-heading, .ofer-heading, .input-group, .btn-link, .nav-icon {
  position: relative;
}

header {
  padding: 22px 0;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
}
header .wrapper {
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  width: 18px;
  height: 2px;
  margin: 5px;
  display: block;
  background-color: #fff;
  text-indent: -9999px;
}

.logo {
  padding-left: 2.7%;
  -ms-flex-preferred-size: 27.6%;
  flex-basis: 27.6%;
}

.navbar {
  -ms-flex-preferred-size: 44.5%;
  flex-basis: 44.5%;
}

.nav-list {
  gap: 22px;
}

.nav-link {
  padding: 5px 5px;
  color: #fff;
  font-size: 14px;
}
@media (min-width: 995px) {
  .nav-link:hover {
    color: #3EC7C9;
  }
}

.nav-icon::before {
  content: "\f078";
  float: right;
  font-size: 10px;
  font-family: "FontAwesome";
  position: absolute;
  top: 8px;
  right: -8px;
}

.apply-btn {
  -ms-flex-preferred-size: 20.2%;
  flex-basis: 20.2%;
}

.btn-link {
  font-size: 13px;
  color: #fff;
}
@media (min-width: 995px) {
  .btn-link:hover {
    color: #3EC7C9;
  }
}
.btn-link::before {
  content: "\f095";
  float: left;
  position: absolute;
  top: 2px;
  left: -20px;
  color: #3EC7C9;
  font-size: 12px;
  font-family: "FontAwesome";
}

.btn-apply {
  padding: 14px 9px;
  border: 1px solid #3EC7C9;
  border-radius: 6px;
  margin-left: 10px;
  font-size: 13px;
  color: #3EC7C9;
}
@media (min-width: 995px) {
  .btn-apply:hover {
    color: #fff;
    background-color: #3EC7C9;
    border-color: #3EC7C9;
  }
}

/*header css end here*/
/* banner section start here*/
.banner {
  padding: 205px 0 201px 0;
  position: relative;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2) url("https://extension.harvard.edu/wp-content/uploads/sites/8/2020/10/finance-1536x918.jpg") center no-repeat;
  background-size: cover;
}
.banner .wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.banner-content {
  -ms-flex-preferred-size: 47%;
  flex-basis: 47%;
}

.banner-heading {
  color: #fff;
  font-size: 60px;
}

.banner-btn {
  padding-top: 41px;
}

.banner-link {
  padding: 16px 34px;
  border: 1px solid #3EC7C9;
  border-radius: 6px;
  background-color: #3EC7C9;
  color: #fff;
  font-size: 14px;
}
@media (min-width: 995px) {
  .banner-link:hover {
    color: #3EC7C9;
    background-color: #fff;
  }
}

.my-form {
  padding: 50px 4.5%;
  border-radius: 6px;
  -ms-flex-preferred-size: 31.2%;
  flex-basis: 31.2%;
  background-color: #fff;
}

.form-heading {
  padding: 0 0 23px 10px;
  font-size: 30px;
  color: #040D25;
}

.form-span {
  padding-bottom: 42px;
  display: block;
  color: #9AA5AD;
  font-weight: 600;
}

.input-group {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
.input-group::before {
  content: "\f0d7";
  float: right;
  position: absolute;
  top: 18px;
  right: 10px;
  font-family: "FontAwesome";
  color: #A7B4C2;
  font-size: 14px;
}

select {
  width: 100%;
  padding: 16px 4%;
  border-color: #ececec;
  margin-bottom: 15px;
  background-color: #fff;
  color: #9AA5AD;
  font-size: 16px;
  font-weight: 600;
  appearance: none;
  outline: none;
}

.pay {
  color: #9AA5AD;
  font-size: 16px;
  font-weight: 600;
}

.form-ctrl {
  width: 100%;
  padding-top: 35px;
}
.form-ctrl input {
  width: 100%;
  padding: 15px 0;
  border: 1px solid #3EC7C9;
  border-radius: 6px;
  background-color: #3EC7C9;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  outline: none;
}
@media (min-width: 995px) {
  .form-ctrl input:hover {
    color: #3EC7C9;
    background-color: #fff;
  }
}

/* banner section end here*/
/*offer section start here*/
.offer {
  padding: 150px 0;
}
.ofer-heading {
  padding-bottom: 21px;
  color: #071B35;
  font-size: 60px;
  text-align: center;
}
.ofer-heading::before {
  content: " ";
  width: 45px;
  height: 3px;
  display: inline-block;
  position: absolute;
  top: -7px;
  left: 47.3%;
  background-color: #3EC7C9;
}

.offer-span {
  padding-bottom: 92px;
  display: block;
  color: #9AA5AD;
  text-align: center;
}

.offer-list {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.offer-item {
  padding: 143px 0 50px;
  border-radius: 6px;
  -ms-flex-preferred-size: 31.6%;
  flex-basis: 31.6%;
  background: -webkit-gradient(to bottom, #0a8cff 0%, #054680 100%);
  background: -o-linear-gradient(to bottom, #0a8cff 0%, #054680 100%);
  background: linear-gradient(to bottom, #0a8cff 0%, #054680 100%);
}

.item-heading {
  color: #fff;
  text-align: center;
}
.item-heading::before {
  content: "\f015";
  float: left;
  position: absolute;
  top: -58px;
  left: 58%;
  font-size: 66px;
  font-family: "FontAwesome";
  -webkit-transform: translate(-60px, -58%);
  -ms-transform: translate(-60px, -58%);
  transform: translate(-60px, -58%);
}

.offer-item:nth-child(2) .item-heading::before {
  content: "\f1b9";
}

.offer-item:nth-child(3) .item-heading::before {
  content: "\f19c";
}

.item-span {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(56, 172, 182, 0.4196078431);
  display: block;
  color: #3EC7C9;
  font-size: 29px;
  text-align: center;
}

.loan-list {
  padding: 32px 0 46px;
  margin-left: 19%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-direction: column;
  color: #fff;
  line-height: 30px;
}

.loan-item {
  color: #fff;
}
.loan-item::before {
  content: " ";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 11px;
  left: -15px;
  background-color: #3EC7C9;
}

.loan-ctrl {
  text-align: center;
}

.loan-link, .about-btn {
  padding: 14px 81px;
  border: 1px solid #3EC7C9;
  border-radius: 6px;
  background-color: #3EC7C9;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
@media (min-width: 995px) {
  .loan-link:hover, .about-btn:hover {
    color: #3EC7C9;
    background-color: #fff;
  }
}

/*offer section start here*/
/*about-us section start here*/
.about-us {
  padding-bottom: 148px;
}
.about-us .wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.about-us .wrapper figure {
  -ms-flex-preferred-size: 48.8%;
  flex-basis: 48.8%;
}
.about-content {
  margin-top: 88px;
  -ms-flex-preferred-size: 42.7%;
  flex-basis: 42.7%;
}

.about-heading {
  padding-bottom: 40px;
  color: #071B35;
  font-size: 44px;
}

.descreption {
  color: #9AA5AD;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
}

.about-list {
  padding: 16px 0 55px 5%;
}

.about-item {
  color: #3C4472;
  font-weight: 600;
  line-height: 30px;
}
.about-item::before {
  content: " ";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 11px;
  left: -21px;
  background-color: #4183F0;
}

.about-btn {
  padding: 13px 25px;
}

/*about-us section end here*/
/*work section start here*/
.work {
  padding: 162px 0 185px;
  background-color: #F5FBFF;
}
.work .ofer-heading {
  font-size: 44px;
}
.work-list {
  margin-top: 74px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.work-item {
  -ms-flex-preferred-size: 28%;
  flex-basis: 28%;
}

.sub-heading {
  margin: 20px 0 15px;
  color: #040E27;
  font-size: 24px;
}
.sub-heading::before {
  content: "01";
  width: 67px;
  height: 67px;
  border: 1px solid #D0E2F0;
  border-radius: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: -90px;
  left: 2px;
  background-color: #D0E2F0;
  color: #299CF0;
}

.loan-description {
  color: #7A838B;
  line-height: 28px;
}

.work-item:nth-child(2) .sub-heading::before {
  content: "02";
}

.work-item:nth-child(3) .sub-heading::before {
  content: "03";
}

/*work section end here*/
/*FAQ section start here*/
.FAQ .wrapper {
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.FAQ .wrapper figure {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
.faq-content {
  -ms-flex-preferred-size: 43.8%;
  flex-basis: 43.8%;
}

.faq-content {
  padding: 128px 0 99px;
}

.faq-heading {
  margin-bottom: 50px;
  color: #040E27;
  font-size: 44px;
}

.faq-list {
  margin-right: 21.5%;
}

.faq-item {
  width: 100%;
  border-bottom: 1px solid #d7dbe3;
  cursor: pointer;
}
.faq-item::before {
  content: "\f078";
  float: left;
  color: #C6D9E7;
  font-family: "FontAwesome";
  position: absolute;
  top: 39%;
  left: 3px;
}
@media (min-width: 995px) {
  .faq-item:hover::before {
    color: #040E27;
  }
}

.faq-item:nth-child(1)::before {
  top: 18%;
  transform: rotate(-180deg);
}

.faq-sub-heading {
  padding: 26px 0 18px 8.4%;
  color: #040E27;
  font-size: 18px;
  font-weight: 500;
}

.faq-description {
  padding: 3px 30px 32px;
  color: #727272;
  font-size: 15px;
  line-height: 28px;
}

/*FAQ section end here*/
/*testimonial section start here*/
.testimonial {
  padding: 149px 0;
}
.content-wrap {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.content-wrap figure {
  -ms-flex-preferred-size: 20.6%;
  flex-basis: 20.6%;
}
.content-wrap figure .qoute {
  text-indent: -9999px;
}
.content-wrap figure .qoute::before {
  content: "\f10d";
  float: left;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 75%;
  background-color: #3EC7C9;
  color: #fff;
  font-size: 20px;
  font-family: "FontAwesome";
  text-indent: 0;
}
.content-wrap figure img {
  border-radius: 50%;
}
.content-wrap .feedback-description {
  margin-bottom: 18px;
  color: #040E27;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}
.content-wrap .name {
  display: block;
  color: #7A838B;
}

.feedback {
  -ms-flex-preferred-size: 59.2%;
  flex-basis: 59.2%;
}

.control {
  -ms-flex-preferred-size: 9%;
  flex-basis: 9%;
}

/*testimonial section end here*/

/*# sourceMappingURL=style.css.map */
