/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 81.5%;
  margin: 0 auto;
}

/*header css start here*/
.copy-link, .submit, .web-link, .icon, .contact-link, .apply-link, .left, .right, .faq-item::before, .loan-link, .about-btn, .form-ctrl input, .banner-link, .btn-apply, .btn-link, .nav-link, .bar {
  transition: all 0.3s ease-in-out;
}

.input-sub, .web-list, .icon::before, .contact, .footer-list, .loan .wrapper, .slide-image-list, .left::before, .right::before, .content-wrap figure .qoute::before, .content-wrap, .FAQ .wrapper, .sub-heading::before, .work-list, .about-us .wrapper, .loan-list, .offer-list, .banner .wrapper, .apply-btn, .nav-list, header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon::before, .loan .wrapper, .left::before, .right::before, .content-wrap figure .qoute::before, .content-wrap, .sub-heading::before, .banner .wrapper, .apply-btn, header .wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  align-items: center;
}

.icon, .left, .right, .content-wrap figure, .faq-item, .sub-heading, .about-item, .loan-item, .item-heading, .ofer-heading, .input-group, .btn-link, .nav-icon {
  position: relative;
}

header {
  padding: 22px 0;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
}
header .wrapper {
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  width: 18px;
  height: 2px;
  margin: 5px;
  display: block;
  background-color: #fff;
  text-indent: -9999px;
}

.logo {
  padding-left: 2.7%;
  -ms-flex-preferred-size: 27.6%;
  flex-basis: 27.6%;
}

.navbar {
  -ms-flex-preferred-size: 44.5%;
  flex-basis: 44.5%;
}

.nav-list {
  gap: 22px;
}

.nav-link {
  padding: 5px 5px;
  color: #fff;
  font-size: 14px;
}
@media (min-width: 995px) {
  .nav-link:hover {
    color: #3EC7C9;
  }
}

.nav-icon::before {
  content: "\f078";
  float: right;
  font-size: 10px;
  font-family: "FontAwesome";
  position: absolute;
  top: 8px;
  right: -8px;
}

.apply-btn {
  -ms-flex-preferred-size: 20.2%;
  flex-basis: 20.2%;
}

.btn-link {
  font-size: 13px;
  color: #fff;
}
@media (min-width: 995px) {
  .btn-link:hover {
    color: #3EC7C9;
  }
}
.btn-link::before {
  content: "\f095";
  float: left;
  position: absolute;
  top: 2px;
  left: -20px;
  color: #3EC7C9;
  font-size: 12px;
  font-family: "FontAwesome";
}

.btn-apply {
  padding: 14px 9px;
  border: 1px solid #3EC7C9;
  border-radius: 6px;
  margin-left: 10px;
  font-size: 13px;
  color: #3EC7C9;
}
@media (min-width: 995px) {
  .btn-apply:hover {
    color: #fff;
    background-color: #3EC7C9;
    border-color: #3EC7C9;
  }
}

@media (max-width: 1200px) {
  .navbar {
    -ms-flex-preferred-size: 48.5%;
    flex-basis: 48.5%;
  }
  .apply-btn {
    -ms-flex-preferred-size: 23.5%;
    flex-basis: 23.5%;
  }
}
@media (max-width: 1024px) {
  .navbar {
    -ms-flex-preferred-size: 50.5%;
    flex-basis: 50.5%;
  }
  .apply-btn {
    -ms-flex-preferred-size: 24.5%;
    flex-basis: 24.5%;
  }
}
@media (max-width: 995px) {
  .navbar {
    -ms-flex-preferred-size: 64.5%;
    flex-basis: 64.5%;
  }
  .nav-list {
    gap: 15px;
  }
  .nav-link {
    font-size: 11px;
  }
  .apply-btn {
    -ms-flex-preferred-size: 33.5%;
    flex-basis: 33.5%;
  }
  .btn-link {
    font-size: 11px;
  }
  .btn-apply {
    font-size: 11px;
  }
}
@media (max-width: 768px) {
  header {
    overflow: hidden;
    height: 100vh;
  }
  .hamburger {
    display: block;
    position: absolute;
    z-index: 10;
    top: 35px;
    right: 40px;
    transition: all 0.3s ease;
  }
  .hamburger:hover + .navbar {
    left: 0;
  }
  .hamburger:hover .bar2 {
    display: none;
  }
  .hamburger:hover .bar1 {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger:hover .bar3 {
    -webkit-transform: translateY(1px) rotate(-45deg);
    -ms-transform: translateY(1px) rotate(-45deg);
    transform: translateY(1px) rotate(-45deg);
  }
  .navbar {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 100%;
    background-color: #3EC7C9;
    transition: all 0.3s ease;
  }
  .nav-list {
    margin: 60px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 28px;
  }
  .nav-link {
    font-size: 18px;
  }
  .apply-btn {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
  }
  .btn-apply {
    padding: 9px 9px;
  }
}
@media (max-width: 480px) {
  .wrapper {
    width: 92%;
  }
  .apply-btn {
    margin-right: 22%;
    -ms-flex-preferred-size: 55%;
    flex-basis: 55%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
  }
  .btn-apply {
    padding: 6px 4px;
  }
  .btn-link {
    margin-bottom: 8px;
  }
  .btn-link::before {
    top: 2px;
    left: -14px;
    font-size: 10px;
  }
}

/*header css end here*/
/* banner section start here*/
.banner {
  padding: 205px 0 201px 0;
  position: relative;
  top: 0;
  left: 0;
  background: rgba(4, 14, 39, 0.6) url(https://extension.harvard.edu/wp-content/uploads/sites/8/2020/10/finance-1536x918.jpg) center no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}
.banner .wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.banner-content {
  -ms-flex-preferred-size: 47%;
  flex-basis: 47%;
}

.banner-heading {
  color: #fff;
  font-size: 60px;
}

.banner-btn {
  padding-top: 41px;
}

.banner-link {
  padding: 16px 34px;
  border: 1px solid #3EC7C9;
  border-radius: 6px;
  background-color: #3EC7C9;
  color: #fff;
  font-size: 14px;
}
@media (min-width: 995px) {
  .banner-link:hover {
    color: #3EC7C9;
    background-color: #fff;
  }
}

.my-form {
  padding: 50px 4.5%;
  border-radius: 6px;
  -ms-flex-preferred-size: 31.2%;
  flex-basis: 31.2%;
  background-color: #fff;
}

.form-heading {
  padding: 0 0 23px 10px;
  font-size: 30px;
  color: #040D25;
}

.form-span {
  padding-bottom: 42px;
  display: block;
  color: #9AA5AD;
  font-weight: 600;
}

.input-group {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
.input-group::before {
  content: "\f0d7";
  float: right;
  position: absolute;
  top: 18px;
  right: 10px;
  font-family: "FontAwesome";
  color: #A7B4C2;
  font-size: 14px;
}

select {
  width: 100%;
  padding: 16px 4%;
  border-color: #ececec;
  border-radius: 6px;
  margin-bottom: 15px;
  background-color: #fff;
  color: #9AA5AD;
  font-size: 16px;
  font-weight: 600;
  appearance: none;
  cursor: pointer;
  outline: none;
}

.pay {
  color: #9AA5AD;
  font-size: 16px;
  font-weight: 600;
}

.form-ctrl {
  width: 100%;
  padding-top: 35px;
}
.form-ctrl input {
  width: 100%;
  padding: 15px 0;
  border: 1px solid #3EC7C9;
  border-radius: 6px;
  background-color: #3EC7C9;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  outline: none;
}
@media (min-width: 995px) {
  .form-ctrl input:hover {
    color: #3EC7C9;
    background-color: #fff;
  }
}

@media (max-width: 1200px) {
  .banner-content {
    -ms-flex-preferred-size: 44%;
    flex-basis: 44%;
  }
  .banner-heading {
    font-size: 47px;
  }
  .my-form {
    -ms-flex-preferred-size: 34.2%;
    flex-basis: 34.2%;
  }
  .form-heading {
    font-size: 25px;
  }
}
@media (max-width: 1024px) {
  .banner-heading {
    font-size: 40px;
  }
  .my-form {
    -ms-flex-preferred-size: 37.2%;
    flex-basis: 37.2%;
  }
  .form-span {
    font-size: 14px;
  }
  .about-item {
    font-size: 14px;
  }
}
@media (max-width: 995px) {
  .banner {
    padding: 205px 0 150px 0;
  }
  .my-form {
    -ms-flex-preferred-size: 48.2%;
    flex-basis: 48.2%;
  }
  .banner-heading {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .banner {
    padding: 160px 0 150px 0;
  }
  .banner .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
  }
  .banner-content {
    margin-bottom: 40px;
    text-align: center;
  }
  .my-form {
    padding: 50px 10.5%;
  }
}
@media (max-width: 480px) {
  .banner {
    padding: 145px 0 100px 0;
  }
  .form-heading {
    font-size: 19px;
  }
}

/* banner section end here*/
/*offer section start here*/
.offer {
  padding: 150px 0;
}
.ofer-heading {
  padding-bottom: 21px;
  color: #071B35;
  font-size: 60px;
  text-align: center;
}
.ofer-heading::before {
  content: " ";
  width: 45px;
  height: 3px;
  display: inline-block;
  position: absolute;
  top: -7px;
  left: 47.3%;
  background-color: #3EC7C9;
}

.offer-span {
  padding-bottom: 92px;
  display: block;
  color: #9AA5AD;
  text-align: center;
}

.offer-list {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.offer-item {
  padding: 143px 0 50px;
  border-radius: 6px;
  -ms-flex-preferred-size: 31.6%;
  flex-basis: 31.6%;
  background: -webkit-gradient(to bottom, #0a8cff 0%, #054680 100%);
  background: -o-linear-gradient(to bottom, #0a8cff 0%, #054680 100%);
  background: linear-gradient(to bottom, #0a8cff 0%, #054680 100%);
}

.item-heading {
  color: #fff;
  text-align: center;
}
.item-heading::before {
  content: "\f015";
  float: left;
  position: absolute;
  top: -58px;
  left: 58%;
  font-size: 66px;
  font-family: "FontAwesome";
  -webkit-transform: translate(-60px, -58%);
  -ms-transform: translate(-60px, -58%);
  transform: translate(-60px, -58%);
}

.offer-item:nth-child(2) .item-heading::before {
  content: "\f1b9";
}

.offer-item:nth-child(3) .item-heading::before {
  content: "\f19c";
}

.item-span {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(56, 172, 182, 0.4196078431);
  display: block;
  color: #3EC7C9;
  font-size: 29px;
  text-align: center;
}

.loan-list {
  padding: 32px 0 46px;
  margin-left: 19%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-direction: column;
  color: #fff;
  line-height: 30px;
}

.loan-item {
  color: #fff;
}
.loan-item::before {
  content: " ";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 11px;
  left: -15px;
  background-color: #3EC7C9;
}

.loan-ctrl {
  text-align: center;
}

.loan-link, .about-btn {
  padding: 14px 81px;
  border: 1px solid #3EC7C9;
  border-radius: 6px;
  background-color: #3EC7C9;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
@media (min-width: 995px) {
  .loan-link:hover, .about-btn:hover {
    color: #3EC7C9;
    background-color: #fff;
  }
}

@media (max-width: 1024px) {
  .loan-list {
    margin-left: 13%;
  }
}
@media (max-width: 995px) {
  .offer {
    padding: 90px 0;
  }
  .offer figure img {
    height: 100%;
  }
  .offer-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .offer-item {
    margin: 15px 0;
    -ms-flex-preferred-size: 46.6%;
    flex-basis: 46.6%;
  }
  .about-content {
    padding: 0;
  }
  .about-heading {
    font-size: 36px;
  }
  .about-list {
    padding: 16px 0 36px 5%;
  }
}
@media (max-width: 768px) {
  .ofer-heading {
    font-size: 40px;
  }
  .offer-span {
    padding-bottom: 40px;
  }
  .offer-item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .item-heading::before {
    top: -58px;
    left: 51%;
    -webkit-transform: translate(-51%, -58%);
    -ms-transform: translate(-51%, -58%);
    transform: translate(-51%, -58%);
  }
}

/*offer section start here*/
/*about-us section start here*/
.about-us {
  padding-bottom: 148px;
}
.about-us .wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.about-us .wrapper figure {
  -ms-flex-preferred-size: 48.8%;
  flex-basis: 48.8%;
}
.about-content {
  margin-top: 88px;
  -ms-flex-preferred-size: 42.7%;
  flex-basis: 42.7%;
}

.about-heading {
  padding-bottom: 40px;
  color: #071B35;
  font-size: 44px;
}

.descreption {
  color: #9AA5AD;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
}

.about-list {
  padding: 16px 0 55px 5%;
}

.about-item {
  color: #3C4472;
  font-weight: 600;
  line-height: 30px;
}
.about-item::before {
  content: " ";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 11px;
  left: -21px;
  background-color: #4183F0;
}

.about-btn {
  padding: 13px 25px;
}

@media (max-width: 995px) {
  .about-us {
    padding: 0;
  }
  .about-us figure img {
    height: 100%;
  }
  .about-content {
    margin: 0;
  }
  .about-heading {
    font-size: 36px;
  }
  .about-list {
    padding: 16px 0 36px 5%;
  }
}
@media (max-width: 768px) {
  .about-us .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
  }
  .about-content {
    margin: 50px 0;
  }
  .about-ctrl {
    text-align: center;
  }
  .about-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 480px) {
  .about-list {
    padding: 16px 0 36px 8%;
  }
  .about-content {
    margin: 50px 2%;
  }
}

/*about-us section end here*/
/*work section start here*/
.work {
  padding: 162px 0 185px;
  background-color: #F5FBFF;
}
.work .ofer-heading {
  font-size: 44px;
}
.work-list {
  margin-top: 74px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.work-item {
  -ms-flex-preferred-size: 28%;
  flex-basis: 28%;
}

.sub-heading {
  margin: 20px 0 15px;
  color: #040E27;
  font-size: 24px;
}
.sub-heading::before {
  content: "01";
  width: 67px;
  height: 67px;
  border: 1px solid #D0E2F0;
  border-radius: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: -90px;
  left: 2px;
  background-color: #D0E2F0;
  color: #299CF0;
}

.loan-description {
  color: #7A838B;
  line-height: 28px;
}

.work-item:nth-child(2) .sub-heading::before {
  content: "02";
}

.work-item:nth-child(3) .sub-heading::before {
  content: "03";
}

@media (max-width: 995px) {
  .work {
    padding: 120px 0;
  }
  .work-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .work-item {
    -ms-flex-preferred-size: 46%;
    flex-basis: 46%;
  }
  .work-item:nth-child(3) {
    margin-top: 100px;
  }
}
@media (max-width: 768px) {
  .work {
    padding: 75px 0 35px 0;
  }
  .work-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
  }
  .work-list .work-item {
    margin: 50px 0;
    text-align: center;
  }
  .work-list .sub-heading::before {
    bottom: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}
@media (max-width: 480px) {
  .work {
    padding: 45px 0 0px 0;
  }
  .offer-span {
    padding-bottom: 10px;
  }
}

/*work section end here*/
/*FAQ section start here*/
.FAQ .wrapper {
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.FAQ .wrapper figure {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
.faq-content {
  -ms-flex-preferred-size: 43.8%;
  flex-basis: 43.8%;
}

.faq-content {
  padding: 128px 0 99px;
}

.faq-heading {
  margin-bottom: 50px;
  color: #040E27;
  font-size: 44px;
}

.faq-list {
  margin-right: 21.5%;
}

.faq-item {
  width: 100%;
  border-bottom: 1px solid #d7dbe3;
  cursor: pointer;
}
.faq-item::before {
  content: "\f078";
  float: left;
  color: #C6D9E7;
  font-family: "FontAwesome";
  position: absolute;
  top: 39%;
  left: 3px;
}
@media (min-width: 995px) {
  .faq-item:hover::before {
    color: #040E27;
  }
}

.faq-item:nth-child(1)::before {
  top: 18%;
  transform: rotate(-180deg);
}

.faq-sub-heading {
  padding: 26px 0 18px 8.4%;
  color: #040E27;
  font-size: 18px;
  font-weight: 500;
}

.faq-description {
  padding: 3px 30px 32px;
  color: #727272;
  font-size: 15px;
  line-height: 28px;
}

@media (max-width: 1200px) {
  .faq-content {
    padding: 0;
  }
}
@media (max-width: 995px) {
  .FAQ .wrapper {
    width: 81.5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    align-items: center;
  }
  .FAQ figure {
    width: 85%;
  }
  .faq-content {
    margin-top: 30px;
  }
  .faq-heading {
    margin: 25px 0 10px;
    text-align: center;
  }
  .faq-list {
    margin: 0;
  }
}
@media (max-width: 768px) {
  section.FAQ {
    padding: 50px 0 0 0;
  }
  section.FAQ figure {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .faq-heading {
    font-size: 39px;
  }
  .faq-sub-heading {
    padding: 26px 0 18px 12.4%;
  }
}

/*FAQ section end here*/
/*testimonial section start here*/
.testimonial {
  padding: 149px 0 170px;
}
.content-wrap {
  margin-bottom: 164px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.content-wrap figure {
  -ms-flex-preferred-size: 20.6%;
  flex-basis: 20.6%;
}
.content-wrap figure .qoute {
  text-indent: -9999px;
}
.content-wrap figure .qoute::before {
  content: "\f10d";
  float: left;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 75%;
  background-color: #3EC7C9;
  color: #fff;
  font-size: 20px;
  font-family: "FontAwesome";
  text-indent: 0;
}
.content-wrap figure img {
  border-radius: 50%;
}
.content-wrap .feedback-description {
  margin-bottom: 18px;
  color: #040E27;
  font-size: 17px;
  font-weight: 500;
  line-height: 32px;
}
.content-wrap .name {
  display: block;
  color: #7A838B;
}

.feedback {
  -ms-flex-preferred-size: 59.2%;
  flex-basis: 59.2%;
}

.control {
  -ms-flex-preferred-size: 9%;
  flex-basis: 9%;
}

.left, .right {
  text-indent: -9999px;
}
@media (min-width: 995px) {
  .left:hover::before, .right:hover::before {
    border-color: #040D25;
    background-color: #fff;
    color: #040D25;
  }
}
.left::before, .right::before {
  content: "\f104";
  float: left;
  width: 46px;
  height: 46px;
  border: 1px solid #D9E6F0;
  border-radius: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 21px;
  left: 48px;
  background-color: #D9E6F0;
  color: #3EC7C9;
  font-family: "FontAwesome";
  text-indent: 0;
}

.right::before {
  top: -36px;
  left: 45px;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.slide-image-list {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .slide-image-list li {
    -ms-flex-preferred-size: 19%;
    flex-basis: 19%;
  }
}
@media (max-width: 995px) {
  .testimonial {
    padding: 91px 0 100px;
  }
  .content-wrap figure {
    padding-bottom: 40px;
    -ms-flex-preferred-size: 24.7%;
    flex-basis: 24.7%;
  }
  .content-wrap figure .qoute::before {
    width: 48px;
    height: 48px;
    bottom: 72px;
    left: 71%;
  }
  .feedback {
    -ms-flex-preferred-size: 57.7%;
    flex-basis: 57.7%;
  }
  .left::before, .right::before {
    top: 200px;
    left: -326px;
  }
  .right::before {
    top: 200px;
    left: -217px;
  }
  .slide-image-list {
    padding-top: 25px;
  }
}
@media (max-width: 768px) {
  .testimonial {
    padding: 91px 0 70px;
  }
  .content-wrap {
    margin-bottom: 130px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
  }
  .left::before, .right::before {
    top: 60px;
    left: -73px;
  }
  .right::before {
    top: 60px;
    left: 18px;
  }
  .feedback-description {
    text-align: center;
  }
  .name {
    text-align: center;
  }
  .slide-image-list {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
  }
  .slide-image-list li {
    margin: 15px 0;
  }
}
@media (max-width: 480px) {
  .content-wrap .feedback-description {
    font-size: 16px;
  }
}

/*testimonial section end here*/
/*loan section start here*/
.loan {
  padding: 136px 0;
  background: rgba(4, 14, 39, 0.6) url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZmluYW5jZXxlbnwwfHwwfHw%3D&w=1000&q=80") no-repeat center;
  background-size: cover;
  background-blend-mode: overlay;
}
.loan .wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.loan .wrapper .loan-description {
  -ms-flex-preferred-size: 59%;
  flex-basis: 59%;
  color: #fff;
  font-size: 45px;
  line-height: 57px;
}
.loan .wrapper .apply-btn {
  -ms-flex-preferred-size: unset;
  flex-basis: unset;
}
.apply-link {
  padding: 14px 29px;
  border: 1px solid #3EC7C9;
  border-radius: 4px;
  background: #3EC7C9;
  color: #fff;
  font-weight: 600;
}
@media (min-width: 995px) {
  .apply-link:hover {
    color: #3EC7C9;
    background-color: #fff;
    border-color: #3EC7C9;
  }
}

@media (max-width: 995px) {
  .loan {
    padding: 100px 0;
  }
  .loan .wrapper .loan-description {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    font-size: 35px;
  }
}
@media (max-width: 768px) {
  .loan {
    padding: 70px 0;
  }
  .loan .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
  }
  .loan .wrapper .loan-description {
    font-size: 28px;
    text-align: center;
  }
  .loan .wrapper .apply-btn {
    margin: 20px 0;
  }
}
@media (max-width: 480px) {
  .loan {
    padding: 60px 0;
  }
  .loan .wrapper .loan-description {
    font-size: 26px;
    line-height: 40px;
  }
}

/*loan section end here*/
/*footer start here*/
footer {
  padding: 143px 0 0;
}
.footer-list {
  padding-bottom: 130px;
}

.footer-item:nth-child(1) {
  -ms-flex-preferred-size: 19.2%;
  flex-basis: 19.2%;
}

.footer-item:nth-child(2) {
  -ms-flex-preferred-size: 12.4%;
  flex-basis: 12.4%;
  margin-left: 16%;
}

.footer-item:nth-child(3) {
  -ms-flex-preferred-size: 14%;
  flex-basis: 14%;
  margin-left: 5.2%;
}

.footer-item:nth-child(4) {
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
  margin-left: 3.6%;
}

.footer-logo {
  padding-bottom: 40px;
}

.contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-direction: column;
}

.contact-item, .contact-link {
  color: #9AA5AD;
  font-size: 14px;
  font-weight: 500;
}

.contact-link {
  line-height: 25px;
}
@media (min-width: 995px) {
  .contact-link:hover {
    color: #040D25;
  }
}

address {
  line-height: 25px;
}

.social-list {
  padding-top: 48px;
}

.social-item {
  margin-left: 23.4%;
}

.icon {
  text-indent: -9999px;
  cursor: pointer;
}
@media (min-width: 995px) {
  .icon:hover::before {
    border-color: #3EC7C9;
    color: #3EC7C9;
  }
}
.icon::before {
  content: "\f39e";
  float: left;
  width: 37px;
  height: 37px;
  border: 1px solid #dadada;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: -45px;
  font-family: "FontAwesome";
  color: #dadada;
  font-size: 16px;
  border-radius: 50%;
  text-indent: 0;
}

.google::before {
  content: "\f0d5";
}

.twitter::before {
  content: "\f099";
}

.instagram::before {
  content: "\f16d";
}

.footer-heading {
  padding-bottom: 40px;
  color: #040E27;
  font-size: 17px;
  font-weight: 500;
}

.web-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-direction: column;
}

.web-link {
  color: #9AA5AD;
  font-size: 13px;
  line-height: 35px;
}
@media (min-width: 995px) {
  .web-link:hover {
    color: #040D25;
  }
}

.sub-description {
  color: #9AA5AD;
  font-size: 13px;
  line-height: 35px;
}

.input-sub {
  margin-bottom: 14px;
  border: 2px solid #eee;
  border-radius: 4px;
}

.input-content {
  width: 100%;
}
.input-content input {
  width: 100%;
  padding: 15px 0 15px 8%;
  border: none;
  outline: none;
  padding-left: 8%;
  font-size: 14px;
  font-weight: 500;
}

.submit {
  padding: 13px 21px;
  margin: 2px;
  border: 1px solid #4183F0;
  border-radius: 6px;
  background-color: #4183F0;
  color: #fff;
}
@media (min-width: 995px) {
  .submit:hover {
    color: #3EC7C9;
    background-color: #fff;
    border-color: #3EC7C9;
  }
}

.copy {
  padding-bottom: 8px;
  color: #9AA5AD;
  text-align: center;
}

.copy-link {
  color: #569FFF;
}
@media (min-width: 995px) {
  .copy-link:hover {
    color: #040E27;
  }
}

@media (max-width: 1200px) {
  .footer-item:nth-child(1) {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }
  .footer-item:nth-child(2) {
    margin-left: 6%;
  }
}
@media (max-width: 995px) {
  footer {
    padding-top: 80px;
  }
  .footer-list {
    padding-bottom: 50px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer-list .footer-item {
    margin: 25px 9px;
    -ms-flex-preferred-size: 47%;
    flex-basis: 47%;
  }
  .social-item {
    margin-left: 19.4%;
  }
  .social-item:nth-child(1) {
    margin: 0;
  }
  .icon::before {
    left: -3px;
  }
}
@media (max-width: 768px) {
  footer {
    padding-top: 45px;
  }
  .footer-list {
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .sub-description {
    line-height: 25px;
  }
  .input-content input {
    padding: 8px 0 15px 8%;
  }
  .submit {
    padding: 9px 14px;
  }
  .copy {
    padding-bottom: 14px;
    font-size: 14px;
    line-height: 25px;
  }
}

/* footer end here*/

/*# sourceMappingURL=style.css.map */
