/*header css start here*/
%transition-repeat {
  @include transition(all .3s ease-in-out);
}

%flex-repeat {
  @include displayFlex();
}

%align-repeat {
  @include align-items(center);
}

%relative {
  @include position(relative);
}

header {
  padding: 22px 0;
  @include position(absolute,10,0,$left:0,$right:0);
  .wrapper {
    width: 100%;
    @extend %flex-repeat;
    @extend %align-repeat;
    @include justify-content(space-between);

    @at-root {
      .hamburger {
        display: none;
        cursor: pointer;
      }

      .bar {
        width: 18px;
        height: 2px;
        margin: 5px;
        display: block;
        background-color: $white;
        text-indent: -9999px;
        @extend %transition-repeat;
      }

      .logo {
        padding-left: 2.7%;
        @include flex-basis(27.6%);
      }

      .navbar {
        @include flex-basis(44.5%);
      }

      .nav-list {
        @extend %flex-repeat;
        gap: 22px;
      }

      .nav-link {
        padding: 5px 5px;
        color: $white;
        @include font(14px);
        @extend %transition-repeat;
        @include for-hover-only {
          &:hover {
            color: $btn-color;
          }
        }
      }

      .nav-icon {
        @extend %relative;

        &::before {
          @include contentBefore(\f078, $float: right);
          @include font(10px, $family: "FontAwesome");
          @include position (absolute, $top: 8px, $right: -8px);
        }
      }

      .apply-btn {
        @extend %flex-repeat;
        @extend %align-repeat;
        @include flex-basis(20.2%);
      }

      .btn-link {
        font-size: 13px;
        @extend %relative;
        color: $white;
        @extend %transition-repeat;
        @include for-hover-only{
        &:hover {
          color: $btn-color;
        }
      }
        &::before {
          @include contentBefore(\f095, $float: left);
          @include position (absolute, $top: 2px, $left: -20px);
          color: $btn-color;
          @include font(12px, $family: "FontAwesome");
        }
      }

      .btn-apply {
        padding: 14px 9px;
        border: 1px solid $btn-color;
        border-radius: 6px;
        margin-left: 10px;
        @include font(13px);
        color: $btn-color;
        @extend %transition-repeat;
        @include for-hover-only{
          &:hover{
            color: $white;
            background-color: $btn-color;
            border-color: $btn-color;
          }
        }
      }
      @include for-large-screen{
        .navbar{
        @include flex-basis(48.5%);
        }
        .apply-btn{
          @include flex-basis(23.5%);
        }
      }
      @include for-lp-screen{
        .navbar{
          @include flex-basis(50.5%);
          }
          .apply-btn{
            @include flex-basis(24.5%);
          }
      }
      @include for-medium-screen{
        .navbar{
          @include flex-basis(64.5%);
          }
          .nav-list {
            gap: 15px;
        }
        .nav-link{
          @include font(11px);
        }
        .apply-btn{
          @include flex-basis(33.5%);
        }
        .btn-link{
          @include font(11px);
        }
        .btn-apply{
          @include font(11px);
        }
      }
      @include for-mobile-screen{
        header{
          overflow: hidden;
          height: 100vh;
          // @include position(relative);
            @at-root{
              .hamburger{
                display: block;
                @include position(absolute,10,$top:35px,$right:40px);
                @include transition(all .3s ease);
                &:hover + .navbar{
                 @include position($left:0);
                //  background-color: red;
                }
                &:hover .bar2{
                  display: none;
                }
                &:hover .bar1{
                  @include transform(translateY(8px)rotate(45deg));
                }
                &:hover .bar3{
                  @include transform(translateY(1px)rotate(-45deg));
                }
              }
              .navbar{
                width: 100%;
                height: 100vh;
                @include position(absolute,3,$top:0,$left:100%);
                background-color: $btn-color;
                @include transition(all .3s ease);
              }
              .nav-list{
                margin: 60px 0;
                @include displayFlex();
                @include align-items(center);
                @include flex-direction(column);
                @include justify-content(center);
                  gap: 28px;
              }
              .nav-link {
                @include font(18px);
            }
            .apply-btn{
              @include flex-basis(60%);
            }
            .btn-apply {
              padding: 9px 9px;
            }
            }
          }
        }
      }
    }
  }


/*header css end here*/